<form class="container" [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="myForm">
  <div class="container__form">
    <input type="text" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
           placeholder="Ingresa la tarea" formControlName="task" name="task" required />
    <button class="flex-shrink-0 bg-blue-500 hover:bg-blue-300 border-blue-500 hover:border-blue-300 text-sm border-4 text-white py-1 px-2 rounded"
            type="submit" [disabled]="!isFormValid()">
      Enviar
    </button>
    <button class="flex-shrink-0 border-transparent border-4 text-blue-500 hover:text-blue-800 text-sm py-1 px-2 rounded" type="button"
            (click)="DeleteAll()">
      Eliminar todo
    </button>
  </div>
</form>

<div class="text-xl bg-[url('public/images/no_task.svg')] h-screen flex justify-center items-center bg-no-repeat bg-center opacity-50"
     *ngIf="!list?.length; else listContent">
</div>
<ng-template class="h-5/6 w-1/2 overflow-y-auto p-4" #listContent>
  <div class="relative mb-2 pl-2 pr-2" *ngFor="let item of list; let i=index">
    <div class="w-full bg-blue-200 p-2 rounded-2xl flex justify-between opacity-100"
         [ngClass]="{'line-through text-green-500 bg-green-200': item.IsComplete}">
        <input class="" (change)="ChangeStatus(i,item.IsComplete)" type="checkbox"
               [checked]="item.IsComplete" id="{{i}}">
        <label for="{{i}}">{{item.TaskName}}</label>
      <div>
        <i class="fa-solid fa-trash mr-2 text-blue-800 cursor-pointer" (click)="Delete(i)"></i>
      </div>
    </div>
  </div>
</ng-template>
